<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">VilniusRB Rocks!</a>
    <button class="navbar-toggler p-0 border-0" type="button" id="navbarSideCollapse" data-controller="collapsible-navigation" data-action="collapsible-navigation#open">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= render 'shared/nav_link', name: 'Turbo Drive', path: v1_posts_path %>
        </li>
        <li class="nav-item">
          <%= render 'shared/nav_link', name: 'Turbo Frames', path: v2_posts_path %>
        </li>
        <li class="nav-item">
          <%= render 'shared/nav_link', name: 'Turbo Stream (HTTP)', path: v3_posts_path %>
        </li>
        <li class="nav-item">
          <%= render 'shared/nav_link', name: 'Turbo Stream (WS)', path: v4_posts_path %>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Stimulus!</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
